In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [8]:
def Get_Top_List(url):
    """
    Converts IMDB table into pandas dataframe.
    Input: url link from IMDB table page for "Top Lifetime Grosses"
    Output: formatted dataframe of table
    """
    
    response = requests.get(url)

    page = response.text

    soup = BeautifulSoup(page)

    table = soup.find(id='table')
    
    rows = [row for row in table.find_all('tr')]

    movies = {} 

    for row in rows[1:]:
        items = row.find_all('td')
        link = items[1].find('a')
        title, url_string = link.text, link['href']
        #split url string into unique movie serial number
        url = url_string.split('?', 1)[0].split('t', 4)[-1].split('/', 1)[0]
        #set serial number as key to avoid duplication in any other category-especially title
        movies[url] = [url_string] +[i.text for i in items]
    
    movie_page = pd.DataFrame(movies).T  #transpose
    movie_page.columns = ['URL', 'Rank', 'Title', 'World_Gross', 
                    'Domestic_Gross', 'Domestic_Percentage', 'Foreign_Gross', 'Foreign_Percentage','Year']

    return movie_page

In [9]:
df_test = Get_Top_List('https://www.boxofficemojo.com/chart/ww_top_lifetime_gross/')

In [10]:
df_test.head(55)

,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year
4154796,/title/tt4154796/?ref_=bo_cso_table_1,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2019
0499549,/title/tt0499549/?ref_=bo_cso_table_2,2,Avatar,"$2,790,439,092","$760,507,625",27.2%,"$2,029,931,467",72.8%,2009
0120338,/title/tt0120338/?ref_=bo_cso_table_3,3,Titanic,"$2,195,169,869","$659,363,944",30%,"$1,535,805,925",70%,1997
2488496,/title/tt2488496/?ref_=bo_cso_table_4,4,Star Wars: Episode VII - The Force Awakens,"$2,068,224,036","$936,662,225",45.3%,"$1,131,561,811",54.7%,2015
4154756,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018
0369610,/title/tt0369610/?ref_=bo_cso_table_6,6,Jurassic World,"$1,670,401,444","$652,270,625",39%,"$1,018,130,819",61%,2015
6105098,/title/tt6105098/?ref_=bo_cso_table_7,7,The Lion King,"$1,656,963,790","$543,638,043",32.8%,"$1,113,325,747",67.2%,2019
0848228,/title/tt0848228/?ref_=bo_cso_table_8,8,The Avengers,"$1,518,815,515","$623,357,910",41%,"$895,457,605",59%,2012
2820852,/title/tt2820852/?ref_=bo_cso_table_9,9,Furious 7,"$1,515,048,151","$353,007,020",23.3%,"$1,162,041,131",76.7%,2015
4520988,/title/tt4520988/?ref_=bo_cso_table_10,10,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%,2019
2395427,/title/tt2395427/?ref_=bo_cso_table_11,11,Avengers: Age of Ultron,"$1,402,809,540","$459,005,868",32.7%,"$943,803,672",67.3%,2015
1825683,/title/tt1825683/?ref_=bo_cso_table_12,12,Black Panther,"$1,347,426,487","$700,426,566",52%,"$646,999,921",48%,2018
1201607,/title/tt1201607/?ref_=bo_cso_table_13,13,Harry Potter and the Deathly Hallows: Part 2,"$1,342,192,833","$381,409,310",28.4%,"$960,783,523",71.6%,2011
2527336,/title/tt2527336/?ref_=bo_cso_table_14,14,Star Wars: Episode VIII - The Last Jedi,"$1,332,540,187","$620,181,382",46.5%,"$712,358,805",53.5%,2017
4881806,/title/tt4881806/?ref_=bo_cso_table_15,15,Jurassic World: Fallen Kingdom,"$1,308,484,847","$417,719,760",31.9%,"$890,765,087",68.1%,2018
2294629,/title/tt2294629/?ref_=bo_cso_table_16,16,Frozen,"$1,280,803,377","$400,738,009",31.3%,"$880,065,368",68.7%,2013
2771200,/title/tt2771200/?ref_=bo_cso_table_17,17,Beauty and the Beast,"$1,264,064,386","$504,481,165",39.9%,"$759,583,221",60.1%,2017
3606756,/title/tt3606756/?ref_=bo_cso_table_18,18,Incredibles 2,"$1,242,805,359","$608,581,744",49%,"$634,223,615",51%,2018
4630562,/title/tt4630562/?ref_=bo_cso_table_19,19,The Fate of the Furious,"$1,236,005,118","$226,008,385",18.3%,"$1,009,996,733",81.7%,2017
1300854,/title/tt1300854/?ref_=bo_cso_table_20,20,Iron Man 3,"$1,214,811,252","$409,013,994",33.7%,"$805,797,258",66.3%,2013
2293640,/title/tt2293640/?ref_=bo_cso_table_21,21,Minions,"$1,159,444,662","$336,045,770",29%,"$823,398,892",71%,2015
3498820,/title/tt3498820/?ref_=bo_cso_table_22,22,Captain America: Civil War,"$1,153,332,120","$408,084,349",35.4%,"$745,247,771",64.6%,2016
1477834,/title/tt1477834/?ref_=bo_cso_table_23,23,Aquaman,"$1,148,485,886","$335,061,807",29.2%,"$813,424,079",70.8%,2018
0167260,/title/tt0167260/?ref_=bo_cso_table_24,24,The Lord of the Rings: The Return of the King,"$1,142,270,989","$377,845,905",33.1%,"$764,425,084",66.9%,2003
6320628,/title/tt6320628/?ref_=bo_cso_table_25,25,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%,2019
4154664,/title/tt4154664/?ref_=bo_cso_table_26,26,Captain Marvel,"$1,128,276,090","$426,829,839",37.8%,"$701,446,251",62.2%,2019
1399103,/title/tt1399103/?ref_=bo_cso_table_27,27,Transformers: Dark of the Moon,"$1,123,794,079","$352,390,543",31.4%,"$771,403,536",68.6%,2011
1074638,/title/tt1074638/?ref_=bo_cso_table_28,28,Skyfall,"$1,108,561,013","$304,360,277",27.5%,"$804,200,736",72.5%,2012
2109248,/title/tt2109248/?ref_=bo_cso_table_29,29,Transformers: Age of Extinction,"$1,104,054,072","$245,439,076",22.2%,"$858,614,996",77.8%,2014
1345836,/title/tt1345836/?ref_=bo_cso_table_30,30,The Dark Knight Rises,"$1,081,140,725","$448,139,099",41.4%,"$633,001,626",58.6%,2012
7286456,/title/tt7286456/?ref_=bo_cso_table_31,31,Joker,"$1,074,251,311","$335,451,311",31.2%,"$738,800,000",68.8%,2019
2527338,/title/tt2527338/?ref_=bo_cso_table_32,32,Star Wars: Episode IX - The Rise of Skywalker,"$1,074,144,248","$515,202,542",48%,"$558,941,706",52%,2019
1979376,/title/tt1979376/?ref_=bo_cso_table_33,33,Toy Story 4,"$1,073,394,593","$434,038,008",40.4%,"$639,356,585",59.6%,2019
0435761,/title/tt0435761/?ref_=bo_cso_table_34,34,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%,2010
0383574,/title/tt0383574/?ref_=bo_cso_table_35,35,Pirates of the Caribbean: Dead Man's Chest,"$1,066,179,747","$423,315,812",39.7%,"$642,863,935",60.3%,2006
3748528,/title/tt3748528/?ref_=bo_cso_table_36,36,Rogue One: A Star Wars Story,"$1,056,057,720","$532,177,324",50.4%,"$523,880,396",49.6%,2016
6139732,/title/tt6139732/?ref_=bo_cso_table_37,37,Aladdin,"$1,050,693,953","$355,559,216",33.8%,"$695,134,737",66.2%,2019
1298650,/title/tt1298650/?ref_=bo_cso_table_38,38,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802","$241,071,802",23%,"$804,642,000",77%,2011
3469046,/title/tt3469046/?ref_=bo_cso_table_39,39,Despicable Me 3,"$1,034,800,131","$264,624,300",25.6%,"$770,175,831",74.4%,2017
0107290,/title/tt0107290/?ref_=bo_cso_table_40,40,Jurassic Park,"$1,033,917,066","$404,214,720",39.1%,"$629,702,346",60.9%,1993
2277860,/title/tt2277860/?ref_=bo_cso_table_41,41,Finding Dory,"$1,028,570,889","$486,295,561",47.3%,"$542,275,328",52.7%,2016
0120915,/title/tt0120915/?ref_=bo_cso_table_42,42,Star Wars: Episode I - The Phantom Menace,"$1,027,082,707","$474,544,677",46.2%,"$552,538,030",53.8%,1999
0109830,/title/tt0109830/?ref_=bo_cso_table_43,43,Forrest Gump,"$1,025,920,021","$330,455,270",32.2%,"$695,464,751",67.8%,1994
1014759,/title/tt1014759/?ref_=bo_cso_table_44,44,Alice in Wonderland,"$1,025,467,803","$334,191,110",32.6%,"$691,276,693",67.4%,2010
2948356,/title/tt2948356/?ref_=bo_cso_table_45,45,Zootopia,"$1,023,791,495","$341,268,248",33.3%,"$682,523,247",66.7%,2016
0903624,/title/tt0903624/?ref_=bo_cso_table_46,46,The Hobbit: An Unexpected Journey,"$1,017,003,568","$303,003,568",29.8%,"$714,000,000",70.2%,2012
0468569,/title/tt0468569/?ref_=bo_cso_table_47,47,The Dark Knight,"$1,005,455,497","$535,234,033",53.2%,"$470,221,464",46.8%,2008
0241527,/title/tt0241527/?ref_=bo_cso_table_48,48,Harry Potter and the Sorcerer's Stone,"$1,002,889,769","$318,087,620",31.7%,"$684,802,149",68.3%,2001
0926084,/title/tt0926084/?ref_=bo_cso_table_49,49,Harry Potter and the Deathly Hallows: Part 1,"$976,965,590","$296,347,721",30.3%,"$680,617,869",69.7%,2010
1690953,/title/tt1690953/?ref_=bo_cso_table_50,50,Despicable Me 2,"$970,766,005","$368,065,385",37.9%,"$602,700,620",62.1%,2013
0110357,/title/tt0110357/?ref_=bo_cso_table_51,51,The Lion King,"$968,511,805","$422,783,777",43.6%,"$545,728,028",56.4%,1994
3040964,/title/tt3040964/?ref_=bo_cso_table_52,52,The Jungle Book,"$966,552,003","$364,001,123",37.7%,"$602,550,880",62.3%,2016
2283362,/title/tt2283362/?ref_=bo_cso_table_53,53,Jumanji: Welcome to the Jungle,"$962,102,237","$404,540,171",42%,"$557,562,066",58%,2017
0449088,/title/tt0449088/?ref_=bo_cso_table_54,54,Pirates of the Caribbean: At World's End,"$960,996,492","$309,420,425",32.2%,"$651,576,067",67.8%,2007
1170358,/title/tt1170358/?ref_=bo_cso_table_55,55,The Hobbit: The Desolation of Smaug,"$958,366,855","$258,366,855",27%,"$700,000,000",73%,2013

In [11]:
def Compile_List(pages):
    """
    Concatenates all the scraped pages of IMDB's "Top Lifetime Grosses" table.
    Input: list of partial URLs referring to pages of IMDB's "Top Lifetime Grosses" table.
    Output: concatenated df of entire table across all pages 
    """
    url = "https://www.boxofficemojo.com/chart/ww_top_lifetime_gross/?offset={}"
    dfs = []
    for counter, page in enumerate (pages):
        page_url = url.format(page)
        counter = Get_Top_List(page_url) #should be a list of the dataframes
        dfs.append(counter) 
    return pd.concat(dfs)

In [12]:
pages = [0, 200, 400, 600, 800, 1000]

top_movies_df = Compile_List(pages)

In [16]:
top_movies_df.shape

(1200, 9)

In [17]:
top_movies_df.duplicated()

4154796    False
0499549    False
0120338    False
2488496    False
4154756    False
           ...
0780653    False
0890870    False
4701702    False
0889583    False
0099141    False
Length: 1200, dtype: bool

In [18]:
top_movies_df.tail()

,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year
0780653,/title/tt0780653/?ref_=bo_cso_table_196,"1,215",The Wolfman,"$139,789,765","$61,979,680",44.3%,"$77,810,085",55.7%,2010
0890870,/title/tt0890870/?ref_=bo_cso_table_197,"1,216",Saw IV,"$139,352,633","$63,300,095",45.4%,"$76,052,538",54.6%,2007
4701702,/title/tt4701702/?ref_=bo_cso_table_198,"1,217",Mr. Six,"$139,191,345","$1,415,450",1%,"$137,775,895",99%,2015
0889583,/title/tt0889583/?ref_=bo_cso_table_199,"1,218",Brüno,"$138,805,831","$60,054,530",43.3%,"$78,751,301",56.7%,2009
0099141,/title/tt0099141/?ref_=bo_cso_table_200,"1,219",Bird on a Wire,"$138,697,012","$70,978,012",51.2%,"$67,719,000",48.8%,1990

In [23]:
#check for duplicate titles--we do have a number that are originals of remakes appearing later on the list
top_movies_df[top_movies_df.duplicated(['Title'])]

,URL,Rank,Title,World_Gross,Domestic_Gross,Domestic_Percentage,Foreign_Gross,Foreign_Percentage,Year
0110357,/title/tt0110357/?ref_=bo_cso_table_51,51,The Lion King,"$968,511,805","$422,783,777",43.6%,"$545,728,028",56.4%,1994
0103639,/title/tt0103639/?ref_=bo_cso_table_12,212,Aladdin,"$504,050,219","$217,350,219",43.1%,"$286,700,000",56.9%,1992
0101414,/title/tt0101414/?ref_=bo_cso_table_69,269,Beauty and the Beast,"$440,118,382","$218,967,620",49.8%,"$221,150,762",50.2%,1991
2345759,/title/tt2345759/?ref_=bo_cso_table_98,298,The Mummy,"$409,231,607","$80,227,895",19.6%,"$329,003,712",80.4%,2017
0120685,/title/tt0120685/?ref_=bo_cso_table_131,331,Godzilla,"$379,014,294","$136,314,294",36%,"$242,700,000",64%,1998
1267297,/title/tt1267297/?ref_=bo_cso_table_36,641,Hercules,"$244,819,862","$72,688,614",29.7%,"$172,131,248",70.3%,2014
1289401,/title/tt1289401/?ref_=bo_cso_table_85,690,Ghostbusters,"$229,147,509","$128,350,574",56%,"$100,796,935",44%,2016
0061852,/title/tt0061852/?ref_=bo_cso_table_172,778,The Jungle Book,"$210,310,084","$141,843,612",67.4%,"$68,466,472",32.6%,1967
0100758,/title/tt0100758/?ref_=bo_cso_table_7,814,Teenage Mutant Ninja Turtles,"$201,965,915","$135,265,915",67%,"$66,700,000",33%,1990
1386703,/title/tt1386703/?ref_=bo_cso_table_22,829,Total Recall,"$198,467,168","$58,877,969",29.7%,"$139,589,199",70.3%,2012
0101272,/title/tt0101272/?ref_=bo_cso_table_52,860,The Addams Family,"$191,502,426","$113,502,426",59.3%,"$78,000,000",40.7%,1991
1502712,/title/tt1502712/?ref_=bo_cso_table_197,"1,012",Fantastic Four,"$167,882,881","$56,117,548",33.4%,"$111,765,333",66.6%,2015
0399201,/title/tt0399201/?ref_=bo_cso_table_25,"1,041",The Island,"$162,949,164","$35,818,913",22%,"$127,130,251",78%,2005

In [19]:
import pickle

In [20]:
#pickle df
top_movies_df.to_pickle('top_movies_df.pickle')