In [2]:
import pandas as pd

In [3]:
kaggle_df = pd.read_csv('imdb_1972-2019.csv')

In [7]:
kaggle_df.sort_values(by= 'Revenue (Millions)', ascending = False)

,Unnamed: 0,Title,Year,Rating,Metascore,Votes,Description,Genre,Runtime (Minutes),Revenue (Millions),Actors,Director
551,2,Star Wars: Episode VII - The Force Awakens,2015,7.9,81.0,823298,"Three decades after the Empire's defeat, a...","Action, Adventure, Sci-Fi",138,936.66,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",J.J. Abrams
0,0,Avengers: Endgame,2019,8.5,78.0,648248,After the devastating events of Avengers: ...,"Action, Adventure, Drama",181,858.37,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...","Anthony Russo, Joe Russo"
59,1,Black Panther,2018,7.3,88.0,560547,"T'Challa, heir to the hidden but advanced ...","Action, Adventure, Sci-Fi",134,700.06,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",Ryan Coogler
58,0,Avengers: Infinity War,2018,8.5,68.0,740799,The Avengers and their allies must be will...,"Action, Adventure, Sci-Fi",149,678.82,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...","Anthony Russo, Joe Russo"
4120,3571,Titanic,1997,7.8,75.0,989440,A seventeen-year-old aristocrat falls in l...,"Drama, Romance",194,659.33,"Leonardo DiCaprio, Kate Winslet, Billy Zane, K...",James Cameron
...,...,...,...,...,...,...,...,...,...,...,...,...
507,255,Fallen,2016,5.6,NaN,5103,A young girl finds herself in a reform school ...,"Adventure,Drama,Fantasy",91,NaN,"Hermione Corfield, Addison Timlin, Joely Richa...",Scott Hicks
511,259,Don't Fuck in the Woods,2016,2.7,NaN,496,A group of friends are going on a camping trip...,Horror,73,NaN,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",Shawn Burkett
525,273,Paris pieds nus,2016,6.8,NaN,222,Fiona visits Paris for the first time to assis...,Comedy,83,NaN,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",Dominique Abel
528,276,Hounds of Love,2016,6.7,72.0,1115,A cold-blooded predatory couple while cruising...,"Crime,Drama,Horror",108,NaN,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",Ben Young
543,291,Mindhorn,2016,6.4,71.0,2490,A has-been actor best known for playing the ti...,Comedy,89,NaN,"Essie Davis, Andrea Riseborough, Julian Barrat...",Sean Foley