In [2]:
import pandas as pd

In [7]:
kaggle_df = pd.read_csv('imdb_1972-2019.csv')

In [8]:
kaggle_df.sort_values(by= 'Revenue (Millions)', ascending = False)

,Unnamed: 0,Title,Year,Rating,Metascore,Votes,Description,Genre,Runtime (Minutes),Revenue (Millions),Actors,Director
551,2,Star Wars: Episode VII - The Force Awakens,2015,7.9,81.0,823298,"Three decades after the Empire's defeat, a...","Action, Adventure, Sci-Fi",138,936.66,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",J.J. Abrams
0,0,Avengers: Endgame,2019,8.5,78.0,648248,After the devastating events of Avengers: ...,"Action, Adventure, Drama",181,858.37,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...","Anthony Russo, Joe Russo"
59,1,Black Panther,2018,7.3,88.0,560547,"T'Challa, heir to the hidden but advanced ...","Action, Adventure, Sci-Fi",134,700.06,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",Ryan Coogler
58,0,Avengers: Infinity War,2018,8.5,68.0,740799,The Avengers and their allies must be will...,"Action, Adventure, Sci-Fi",149,678.82,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...","Anthony Russo, Joe Russo"
4120,3571,Titanic,1997,7.8,75.0,989440,A seventeen-year-old aristocrat falls in l...,"Drama, Romance",194,659.33,"Leonardo DiCaprio, Kate Winslet, Billy Zane, K...",James Cameron
...,...,...,...,...,...,...,...,...,...,...,...,...
507,255,Fallen,2016,5.6,NaN,5103,A young girl finds herself in a reform school ...,"Adventure,Drama,Fantasy",91,NaN,"Hermione Corfield, Addison Timlin, Joely Richa...",Scott Hicks
511,259,Don't Fuck in the Woods,2016,2.7,NaN,496,A group of friends are going on a camping trip...,Horror,73,NaN,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",Shawn Burkett
525,273,Paris pieds nus,2016,6.8,NaN,222,Fiona visits Paris for the first time to assis...,Comedy,83,NaN,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",Dominique Abel
528,276,Hounds of Love,2016,6.7,72.0,1115,A cold-blooded predatory couple while cruising...,"Crime,Drama,Horror",108,NaN,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",Ben Young
543,291,Mindhorn,2016,6.4,71.0,2490,A has-been actor best known for playing the ti...,Comedy,89,NaN,"Essie Davis, Andrea Riseborough, Julian Barrat...",Sean Foley

In [5]:
#kaggle_df_2016 = pd.read_csv('movies 1986-2016.csv')

In [12]:
#checking for nulls in rating 
kaggle_df[kaggle_df['Rating'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Title, Year, Rating, Metascore, Votes, Description, Genre, Runtime (Minutes), Revenue (Millions), Actors, Director]
Index: []

In [13]:
#checking for nulls in Title 
kaggle_df[kaggle_df['Title'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Title, Year, Rating, Metascore, Votes, Description, Genre, Runtime (Minutes), Revenue (Millions), Actors, Director]
Index: []

In [14]:
#great! we can get rid of years beyond our time range
kaggle_df = kaggle_df[kaggle_df['Year'] > 1999]

In [16]:
kaggle_df['Years_Since_Release']  = 2020 - kaggle_df['Year']

<ipython-input-16-aef94de66be1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kaggle_df['Years_Since_Release']  = 2020 - kaggle_df['Year']

In [17]:
kaggle_df

,Unnamed: 0,Title,Year,Rating,Metascore,Votes,Description,Genre,Runtime (Minutes),Revenue (Millions),Actors,Director,Years_Since_Release
0,0,Avengers: Endgame,2019,8.5,78.0,648248,After the devastating events of Avengers: ...,"Action, Adventure, Drama",181,858.37,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...","Anthony Russo, Joe Russo",1
1,1,Spider-Man: Far from Home,2019,7.6,69.0,255849,Following the events of Avengers: Endgame ...,"Action, Adventure, Sci-Fi",129,388.53,"Tom Holland, Samuel L. Jackson, Jake Gyllenhaa...",Jon Watts,1
2,2,Toy Story 4,2019,7.9,84.0,146740,"When a new toy called ""Forky"" joins Woody ...","Animation, Adventure, Comedy",100,433.03,"Tom Hanks, Tim Allen, Annie Potts, Tony Hale",Josh Cooley,1
3,3,Jumanji: The Next Level,2019,7.0,58.0,63856,"In Jumanji: The Next Level, the gang is ba...","Action, Adventure, Comedy",123,0.00,"Dwayne Johnson, Jack Black, Kevin Hart, Karen ...",Jake Kasdan,1
4,4,The Lighthouse,2019,7.8,83.0,50595,Two lighthouse keepers try to maintain the...,"Drama, Fantasy, Horror",109,0.43,"Robert Pattinson, Willem Dafoe, Valeriia Karaman",Robert Eggers,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3783,3234,Chuck & Buck,2000,6.5,76.0,5105,An oddly naive man-child stalks his childh...,"Comedy, Drama",96,1.05,"Mike White, Chris Weitz, Lupe Ontiveros, Beth ...",Miguel Arteta,20
3784,3235,Groove,2000,6.6,54.0,3917,An inside look into one night in the San F...,"Drama, Music",86,1.11,"Chris Ferreira, Mackenzie Firgens, Elizabeth S...",Greg Harrison,20
3785,3236,What's Cooking?,2000,6.9,57.0,2415,"In LA's Fairfax district, where ethnic gro...","Comedy, Drama, Romance",109,1.04,"Joan Chen, Julianna Margulies, Mercedes Ruehl,...",Gurinder Chadha,20
3786,3237,Next Friday,2000,6.1,41.0,34864,Uncle Elroy and Day Day owe money on taxes...,Comedy,98,57.33,"Ice Cube, Mike Epps, Justin Pierce, John Withe...",Steve Carr,20
3787,3238,Drowning Mona,2000,5.7,25.0,12812,When a woman drives a car into the river t...,"Comedy, Crime, Mystery",96,15.43,"Danny DeVito, Bette Midler, Neve Campbell, Jam...",Nick Gomez,20

In [18]:
kaggle_df.to_csv(r'/Users/juliaqiao/Documents/Metis/Project_2/kaggle_df.csv')